{% extends 'base.html.twig' %}

{% block title %}Accueil - SAE 301{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">

{% endblock %}

{% block javascripts %}
<script defer src="{{ asset('assets/js/index.js') }}"></script>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
<script src="{{ asset('assets/js/calendar.js') }}"></script>
<script src="{{ asset('assets/js/mobile.js') }}"></script>
{% endblock %}

{% block body %}


<body class="flex-container">
    
    <section class="flex-container flex-column">

    <svg id="burger" xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 448 512">
        <style>svg{fill:#000000}</style><path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 
        128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 
        416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg>
        <div>

        <div class="nom-proposer flex-container justify-content-between align-items-center">
            <h1 id="hello"></h1>
            <a class="nom-proposer__button" href="{{ asset('/ajouter/rendu')}}">
                <div class="flex-container justify-content-center align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 448 512">
                        <style>svg{fill:#ffffff}</style>
                        <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 
                        32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/>
                    </svg>
                    <p>Proposer un rendu</p>
                </div>
            </a>
        </div>

        <h3>Voici les futurs rendus :</h3>
            <div id="alert"></div>

            <div id='calendar'></div>

    </section>





</body>
{% endblock %}
