{% extends 'base.html.twig' %}

{% block title %}Accueil - SAE 301{% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/agenda.css') }}">

{% endblock %}

{% block javascripts %}
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
    <script defer src="{{ asset('assets/js/main.js') }}"></script>
    <script defer src="{{ asset('assets/js/calendar.js') }}"></script>
    <script defer src="{{ asset('assets/js/mobile.js') }}"></script>
    <script defer src="{{ asset('assets/js/agenda.js') }}"></script>
{% endblock %}


{% block body %}


    <body class="flex-container">
    
    <section class="flex-container flex-column">

        <svg id="burger" xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 448 512">
            <style>svg{fill:#000000}</style><path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3
        128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448
        416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg>
        <div>

            <h1 class="h1-agenda">Agenda</h1>
            <div id='calendar'></div>
        </div>

    </section>





    </body>
{% endblock %}
